<div class="container mt-2">
    <div *ngIf="(basket$ | async) as basket">
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-2 test-uppercase">Product</div>
                                        </th>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-2 test-uppercase">Price</div>
                                        </th>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-2 test-uppercase">Quantity</div>
                                        </th>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-2 test-uppercase">Total</div>
                                        </th>
                                        <th class="border-0 bg-light text-center" scope="col">
                                            <div class="p-2 px-2 test-uppercase">Remove</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of basket.items">
                                        <th scope="col">
                                            <div class="p-2">
                                                <img src="{{item.pictureUrl}}" alt="{{item.productName}}"
                                                    class="img-fluid" style="max-height: 70px;">
                                                <div class="ms-3 d-inline-block align-middle">
                                                    <h5 class="m-0">
                                                        <a routerLink="/shop/{{item.id}}" class="text-info text-decoration-none">{{item.productName}}</a>
                                                    </h5>
                                                    <span class="text-muted fw-normal d-block fst-italic">Type: {{item.type}}</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                                        <td class="align-middle"> 
                                            <div class="d-flex justify-content-start align-items-center">
                                                <i (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
                                                <span class="font-weight-bold ms-2 mb-1" style="font-size: 1.5em;">{{ item.quantity }}</span>
                                                <i (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                                            </div>
                                        </td>
                                        <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
                                        <td class="align-middle text-center">
                                            <div class="text-danger">
                                                <div (click)="removeBasketItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;" ></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6 border-1 border p-0 mb-5">
                        <app-order-totals
                            *ngIf="(basketTotals$ | async) as basketTotals"
                            [shippingPrice]="basketTotals.shipping"
                            [subtotal]="basketTotals.subtotal"
                            [total]="basketTotals.total"
                        ></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-secondary py-2 d-block fw-bold">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>